

/* banner-section starts------------------------------------------------------------------ */

.banner-section{
  height: 80vh;
  background:linear-gradient(45deg,rgba(0, 0, 0, 0.124),rgba(0, 0, 0, 0.124),rgba(0, 0, 0, 0.086)), url(Resources/offer-banner\ 3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  cursor: pointer;
}

.banner-text{
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 1000;
      font-style: normal;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.594);
      color: #ffb01d;

      font-size: 3rem;
      padding: 0 5%;
}

.banner-offer{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.661);
      color: #ffb01d;
      font-size: 2rem;

}

@media(max-width:500px){
  .banner-section{
    background-size: cover;
    height:100vh;
    padding: 1% 0;

  }

  .banner-text{


    font-size: 1.8rem;
  
}

.banner-offer{

    font-size: 2rem;

  }
}


/* banner-section ends---------------------------------------------------------------- */


/* customer-comments starts------------------------------------------------------------*/

.client{
  height: 90vh;
  overflow-x: hidden;
}

@media(max-width:767px){
  .client{
    height: fit-content;
  }
}

.customer-comments{

  font-optical-sizing: auto;
  font-style: normal;

}

.client .container .row-2 .col-md-4 section{
  background-color: rgb(255, 255, 255);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}


.client .container .row-2 .col-md-4 section img{
  height: 10rem
}

.star-rating{
  cursor: pointer;
}


/* customer-comments ends--------------------------------------------------------------*/

/* footer starts----------------------------------------------------------------------- */
.footer {

  height: 70vh;
  overflow-x: hidden;

}

.follow-img{
  height: 3rem;
}

@media(max-width:500px){
  .footer{
    height: fit-content;
    font-size: 10px;
  }

  .follow img{
    height: 2rem;

  }

  .footer-content{
    flex-direction: row
    !important;

    justify-content: space-between;
    

    gap: 15px;
  }

  
}



/* footer ends--------------------------------------------------------------------- */